/*======= index.html =======*/
#page1 img.pr{margin-right:11px;}

#page3 .scroll{width:605px; padding-right:40px;}
#page3 .pr{margin-right:20px;}

#page4 .colum{width:180px; float:left;}
#page4 .pr{margin-right:20px;}

#page5 .address{width:255px; float:left;}
#page5 .address.pr{margin-right:60px;}
/*=========================*/


